.navigation-container
{
    position: absolute;
    width:100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Catamaran', serif;
}


.navigation-container__works-container,
.navigation-container__about-container,
.navigation-container__lab-container
{
    position: absolute;
    overflow: hidden;
    height: 6%;
    width: 4%;
    vertical-align: center;
    &>div:nth-child(2)
    {
        text-align: center;
        color: $white;
        font-size: 20px;
        font-weight: 100;
        margin-top: 25%;
        margin-bottom: 25%;
        opacity: 0;
        transition-duration: .5s;
        &::before
        {
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            background: $twine;
            top:100%;
            left:0%;
            transition-duration: .3s;
            z-index: -1;
        }
    }
}
.navigation-container__works-container
{
    top: 5%;
    right: 5%;
}
.navigation-container__about-container
{
    bottom: 5%;
    right: 5%;
}
.navigation-container__lab-container
{
    bottom: 5%;
    left: 5%;
}

.works-container__layer,
.about-container__layer,
.lab-container__layer
{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0%;
    left: -100%;
    background: $twine;
    z-index: 2;
}

.navigation-container__works-container,
{
    &:hover
    {
        cursor: pointer;
        .works-container__works::before
        {
            transform: translateY(-100%);
        }
        .works-container__works
        {
            color: $firefly;
        }
    }
}
.navigation-container__about-container,
{
    &:hover
    {
        cursor: pointer;
        .about-container__about::before
        {
            transform: translateY(-100%);
        }
        .about-container__about
        {
            color: $firefly;
        }
    }
}
.navigation-container__lab-container,
{
    &:hover
    {
        cursor: pointer;
        .lab-container__lab::before
        {
            transform: translateY(-100%);
        }
        .lab-container__lab
        {
            color: $firefly;
        }
    }
}