//Colors
$woodsmoke : #131217;
$white : #fefefe;
$crimson : #ED1C24;
$santas-gray:#A0A0A4;

@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,300,400,500,600,700');