//Colors
$woodsmoke : #131217;
$white : #fefefe;
$crimson : #ED1C24;
$santas-gray:#A0A0A4;

$mandy: #225378;
$neon-carrot :#FD9F3F;
$finn :#592741;
$flamingo :#F34443;
$orange :#FD6E26;


$firefly:#0e1e33;
$big-stone:#17283b;
$janna: #f2e3cf;
$twine: #be8e57;
$vulcan: #161921;

@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,300,400,500,600,700');